<app-nav-bar></app-nav-bar>
<div class="sign-in-page">
  <div class="sign-in-container">
    <h2>Sign In</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" placeholder="Enter username" />
      <div *ngIf="signInForm.get('username')?.invalid && submitted">
        <small *ngIf="signInForm.get('username')?.hasError('required')">Username is required</small>
      </div>

      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter password" />
      <div *ngIf="signInForm.get('password')?.invalid && submitted">
        <small *ngIf="signInForm.get('password')?.hasError('required')">Password is required</small>
        <small *ngIf="signInForm.get('password')?.hasError('minlength')">Password should be at least 6 characters</small>
      </div>

      <button type="submit">Sign In</button>
    </form>
  </div>
</div>
